*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 18px;
  --lt-color-green: #76BC7B;
  --dk-color-green: #405946;
  --dk-background-color: #1f1f1f;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

a {
  color: #5227c5;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  line-height: 124%;
  font-weight: 700;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 2.441rem;
  line-height: 120%;
}

h2 {
  font-size: 1.953rem;
}

h3 {
  font-size: 1.563rem;
}

h4 {
  font-size: 1.25rem;
}

.display-heading {
  font-size: 3.5rem;
  line-height: 112%;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

ul,
ol {
  margin: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body,
button {
  font-size: 18px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  text-rendering: optimizeSpeed;
  line-height: 150%;
  letter-spacing: 0.01rem;
  word-break: keep-all;
}

figure-caption {
  text-align: end;
}

.wrap {
  box-sizing: border-box;
  max-width: 1140px;
  margin: 0 auto;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

@media (pointer: fine) {
  a:hover {
    text-decoration: underline;
  }

  .btn:hover,
  .card:hover,
  .project-img:hover,
  .iframe-content:hover {
    transform: translateY(4px);
    box-shadow: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    text-decoration: none;
    cursor: pointer;
  }

  .link:hover {
    background-color: #eaeaea;
    text-decoration: none;
    border-radius: 4px;
  }

  .card-no-hover:hover {
    transform: translateY(0px);
    cursor: not-allowed;
    box-shadow: 6px 6px 0px #4b4b4b;
  }
}

hr {
  border: 0.5px solid black;
  margin: 0;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.link {
  padding: 4px 8px;
  display: block;
  text-decoration: none;
  color: #5227c5;
  width: fit-content;
  font-style: normal;
}

.p-silent,
.link-silent {
  font-size: 0.92rem;
  line-height: 150%;
}

.margin-32 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.margin-bottom-32 {
  margin-bottom: 32px;
}

.gap-48,
.gap-32,
.gap-24,
.gap-16,
.gap-8 {
  display: flex;
  flex-direction: column;
}

.gap-48 {
  gap: 48px;
}

.gap-32 {
  gap: 32px;
}

.gap-24 {
  gap: 24px;
}

.gap-16 {
  gap: 16px;
}

.gap-8 {
  gap: 8px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 0px 16px;
  padding-top: 24px;
  gap: 32px;
  border: 2px solid black;
  box-shadow: 6px 6px 0px black;
  color: black;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1 / 1;
  justify-content: space-between;
  text-decoration: none;
  border-radius: 6px;
}

.card-content {
  align-items: flex-start;
}

.euphire-image,
.ccc-image {
  object-fit: contain;
  width: 66%;
  align-self: center;
}

.card-ccc {
  background-color: #eedabf;
}

.card-waysconf {
  background-color: #8589E3;
}

.card-beatstars {
  background-color: #E8E8E8;
}


.sticker {
  background-color: #000000;
  color: white;
  align-self: stretch;
  flex-direction: column;
  margin: 0 -16px;
  padding: 16px 0;
  text-align: center;
  flex-shrink: 0;
}

.header-wrap-ccc {
  background-color: #000000;
}

.header-wrap-beatstars {
  background-color: #E8E8E8;
}

.header-wrap-waysconf {
  background-color: #94BDF9;
}

.lowsugar-image {
  margin-bottom: 6%;
  align-self: end;
  margin-right: -16px;
}

.card-cmb,
.header-wrap-cmb {
  background: #c5bafa;
}

.header-wrap-about-me {
  background: #c5bafa;
}

.header-content {
  padding: 32px 0;
}

.card-lowsugar,
.header-wrap-lowsugar {
  background: var(--lt-color-green);
}

.dfw-image {
  margin-bottom: 6%;
}

.waysconf-image {
  align-self: flex-end;
  overflow: hidden;
  padding: 6% 0% 6% 0%;
}

.card-dfw,
.header-wrap-dfw {
  background-color: #F3A184;
}

.card-euphire,
.header-wrap-euphire {
  background-color: #ffd639;
}

.card-tag,
.sub-header {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 120%;
}

.in-progress {
  background-color: #000000;
  padding: 6px 12px 6px 12px;
  color: #ffffff;
  width: fit-content;
  border-radius: 4px;
}

.mockup-img {
  filter: drop-shadow(-8px 8px 0px rgba(0, 0, 0, 0.3));
  overflow: hidden;
  object-fit: contain;
}

.get-in-touch {
  padding-top: 32px;
  padding-bottom: 32px;
}

footer {
  align-items: center;
  padding: 32px 0px 48px 0px;
  gap: 4px;
  text-align: center;
}

nav {
  padding-top: 16px;
  padding-bottom: 16px;
}

.nav-items {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 24px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

button {
  padding: 12px 24px;
  background: #ffffff;
  border: 2px solid #000000;
  color: #000000;
  box-shadow: 6px 6px 0px black;
  flex: none;
  align-self: stretch;
  flex-grow: 0;
  border-radius: 4px;
}

.icon-link {
  display: flex;
  align-items: center;
  gap: 8px;
}

.figure {
  align-self: center;
  flex-direction: column;
  display: flex;
  align-items: flex-end;
  gap: 16px;
  padding: 16px 0;
}

.project-img {
  border: 2px solid black;
  display: flex;
  box-shadow: 6px 6px 0px black;
}

.cmb-image {
  align-self: flex-end;
  margin-right: -32px;
}

.beatstars-image {
  align-self: flex-end;
  margin-right: -32px;
  margin-bottom: -32px;
  overflow: hidden;
  padding-top: 2%;
}

.iframe-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  /* 16:9 aspect ratio */
}

.iframe-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border: 2px solid black;
  box-shadow: 6px 6px 0px black;
  border-radius: 6px;
}

.oval {
  height: 24px;
  width: 24px;
  border-radius: 100px;
  border: solid 2px #000000;
  align-self: center;
  flex-shrink: 0;
}

.icon-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 8px;
}

.icon-list-item {
  display: flex;
  gap: 8px;
}

.waysconf-image {
  padding: 0 4% 0 4%;
}

.card-waysconf {
  background-color: #94BDF9;
}

#icon-list-red {
  background-color: #e0644c;
}

#icon-list-yellow {
  background-color: #ffd639;
}

#icon-list-green {
  background-color: var(--lt-color-green);
}

.content-wrap {
  margin: 32px 0;
}

.icon-back-custom {
  color: #B099EB;
}

.icon-back-custom:hover {
  background-color: #2f2f2f;
}

.header-image, .header-image-wrap img {
  border: 2px solid #000000;
}

#lottie {
  position: relative;
  overflow: hidden;
}

#lottie::before,
#lottie::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 8%;
  /* Width of the gradient effect */
  z-index: 2;
}

#lottie::before {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

#lottie::after {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

@media screen and (min-width: 1140px) {

  p,
  a,
  button,
  li {
    font-size: 20px;
    line-height: 150%;
  }

  .display-heading {
    font-size: 5rem;
    line-height: 100%;
    margin-top: 32px;
  }
}

@media screen and (max-width: 620px) {
  .header-image-wrap {
    aspect-ratio: 1 / 1;
  }

  .iframe-1-1-aspect-ratio {
    padding-bottom: 100%;
  }

  .header-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .nav-items {
    gap: 8px;
  }

  h1 {
    font-family: "Playfair Display", serif;
    font-size: 1.9528rem;
    line-height: 120%;
  }

  h2 {
    font-size: 1.5624rem;
  }

  h3 {
    font-size: 1.2504rem;
  }

  h4,
  .card-tag,
  .sub-header {
    font-size: 1.1rem;
  }
}

/* Dark mode in progress
@media (prefers-color-scheme: dark) {
  body {
    color: #eee;
    background: var(--dk-background-color);
  }
  a,
  .link {
    color: #9ea2f9;
  }
  hr {
    border-color: #eee;
  }
  .card,
  button,
  .project-img {
    box-shadow: 6px 6px 0px #eee;
  }
  .header-wrap-about-me,
  .header-wrap-cmb {
    background: #352875;
  }
  .header-wrap-lowsugar {
    background: var(--dk-color-green);
  }
  .icon-link {
    color: #eee;
  }
  @media (pointer: fine) {
    .link:hover {
      background-color: #34343a;
    }
    .btn:hover,
    .card:hover,
    .project-img:hover,
    .iframe-content:hover {
      transform: translateY(4px);
      box-shadow: none;
      transition: transform 0.2s ease, box-shadow 0.2s ease;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
*/