<footer class="grid">
  <div class="col-desk-12 col-tab-12 col-mob-4">
    <div class="gap-16">
      <p class="p-silent">Made for minimal environmental impact:<br> <a class="link-silent"
          href="https://www.websitecarbon.com/website/patrykszymanski-me/" target="_blank">0.08g of
          CO<sub>2</sub>/view </a>(cleaner than 93% of websites)</p>
      <p class="p-silent">Designed and coded by Patryk Szymański &#128104;&#8205;&#128187;</p>
    </div>
  </div>
</footer>
