<nav class="grid">
  <ul class="nav-items col-desk-12 col-tab-12 col-mob-4">
    <li><a class="link nav-item" href="/#my-work">My work</a></li>
    <li><a class="link nav-item" href="/about-me/">About me</a></li>
    <li><a class="link nav-item" href="/#get-in-touch">Get in touch</a></li>
  </ul>
</nav>
