# macOS files
.DS_Store
**/.DS_Store

# IDE/Editor files
.vscode/
.idea/
*.sublime-*
*.code-workspace

# Eleventy build output
_site/
.cache/
.env

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional npm cache & logs
.npm
.npmignore
