---
layout: base.njk
title: Portfolio
includeMaterialIcons: false
includeLightGallery: false
noIndex: true
---

{% block head %}
  <link rel="stylesheet" href="/css/shapes.css">
{% endblock %}

{% block content %}
  <header class="grid header margin-32 gap-32">
    <div class="col-desk-6 col-tab-8 col-mob-4 gap-24">
      <h1 class="display-heading">Patryk </br>Szymański</h1>
      <h2 class="sub-display-heading">Senior UX/Product Designer</h2>
    </div>
    <div class="col-desk-5 col-tab-7 col-mob-4 gap-16">
      <p>
        Designer with 5+ years of experience in e-commerce, B2B, and SaaS. Based in Kraków, Poland &#x1f1f5;&#x1f1f1;
        Available worldwide.
      </p>
      <a class="link" href="/about-me/">More about me</a>
    </div>
    <div class="col-desk-5 col-tab-7 col-mob-4">
      <button class="btn col-desk-8 col-tab-8 col-mob-4" onclick="location.href='#get-in-touch'" type="button">
        Get in touch</button>
    </div>
  </header>
  <main>
    <div id="my-work" class="grid margin-32">
      <h2 class="col-desk-12 margin-32">My work</h2>
      <div class="col-desk-6 col-tab-8 col-mob-4 margin-bottom-32">
        <a class="card tooltip card-ecommerce-app card-no-hover" onclick="return false;" href="#">
          <div class="card-content gap-8">
            <h3>Off-price eCommerce App</h3>
            <h4 class="card-tag in-progress">Work in progress</h4>
          </div>
          <img class="mockup-img e-commerce-app-image" src="/images/ecommerce-app/ecommerce-app-preview.webp"
            alt="Phone mockup with eCommerce product page">
        </a>
      </div>
      <div class="col-desk-6 col-tab-8 col-mob-4 margin-bottom-32">
        <a class="card tooltip card-beatstars" href="/my-work-beatstars/">
          <div class="card-content gap-8">
            <h3>BeatStars – My Library</h3>
            <h4 class="card-tag">Product Design</h4>
          </div>
          <img class="mockup-img beatstars-image" src="/images/beatstars/beatstars-preview.webp"
            alt="Mockup with a piece of the main My Library page">
        </a>
      </div>
      <div class="col-desk-6 col-tab-8 col-mob-4 margin-bottom-32">
        <a class="card card-waysconf" href="/my-work-waysconf/">
          <div class="card-content gap-8">
            <h3>WaysConf 2023</h3>
            <h4 class="card-tag">Conference talk</h4>
          </div>
          <img class="mockup-img waysconf-image" src="/images/waysconf/waysconf-preview.webp"
            alt="Browser mockup with a YouTube video thumbnail">
        </a>
      </div>
      <div class="col-desk-6 col-tab-8 col-mob-4 margin-bottom-32">
        <a class="card card-ccc" href="/my-work-ccc/">
          <div class="card-content gap-8">
            <h3>CCC Club – UX Case Study</h3>
            <h4 class="card-tag">Product Design</h4>
          </div>
          <img class="mockup-img ccc-image" src="/images/ccc/ccc-preview.webp" alt="Phone mockup with CCC Club logo">
        </a>
      </div>
      <div class="col-desk-6 col-tab-8 col-mob-4 margin-bottom-32">
        <a class="card card-dfw" href="/my-work-dfw/">
          <div class="card-content gap-8">
            <h3>DataFeedWatch Design System</h3>
            <h4 class="card-tag">UX/UI Design</h4>
          </div>
          <img class="mockup-img dfw-image" src="/images/dfw/dfw-preview.svg"
            alt="Laptop mockup with a DataFeedWatch logo and the design grid around it">
        </a>
      </div>
      <div class="col-desk-6 col-tab-8 col-mob-4 margin-bottom-32">
        <a class="card card-cmb" href="/my-work-cmb/">
          <div class="card-content gap-8">
            <h3>Centrum Masażu Betula</h3>
            <h4 class="card-tag">Research | Service Design</h4>
          </div>
          <img class="mockup-img cmb-image" src="/images/cmb/cmb-preview.webp"
            alt="Tablet mockup with the website visualisation">
        </a>
      </div>
      <div class="col-desk-6 col-tab-8 col-mob-4 margin-bottom-32">
        <a class="card card-lowsugar" href="/my-work-lowsugar/">
          <div class="card-content gap-8">
            <h3>LowSugar</h3>
            <h4 class="card-tag">UX/UI Design</h4>
          </div>
          <img class="mockup-img lowsugar-image" src="/images/lowsugar/lowsugar-preview.webp"
            alt="Laptop mockup with a view of the homepage">
        </a>
      </div>
      <div class="col-desk-6 col-tab-8 col-mob-4 margin-bottom-32">
        <a class="card card-euphire" href="/my-work-euphire/">
          <div class="card-content gap-8">
            <h3>Euphire eCommerce User's Tests </h3>
            <h4 class="card-tag">UX Research</h4>
          </div>
          <img class="mockup-img euphire-image" src="/images/euphire/euphire-preview.webp"
            alt="Phone mockup with Euphire logo">
        </a>
      </div>
    </div>
    <hr>
    <section id="get-in-touch" class="grid margin-32">
      <div class="get-in-touch col-desk-4 col-tab-8 col-mob-4">
        <h2 class="margin-bottom-32">Get in touch</h2>
        <address class="gap-16">
          <a class="link" target="_blank" rel="me"
            href="mailto:patryk_szymanski@icloud.com">Patryk_szymanski@icloud.com</a>
          <a class="link" target="_blank" rel="me" href="https://www.linkedin.com/in/p-szymanski/">LinkedIn</a>
          <a class="link" target="_blank" rel="me" href="https://www.instagram.com/papryk_genz_not/">Instagram</a>
        </address>
      </div>
    </section>
  </main>

  <section class="grid ai-shapes-playground" aria-hidden="true">
    <div class="col-desk-12 col-tab-12 col-mob-4">
      <div id="shapes-container" class="shapes-canvas-container">
      </div>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/matter-js/0.19.0/matter.min.js"></script>
  <script src="/js/shapes.js" defer></script>
{% endblock %}
