---
layout: base.njk
title: Euphire
includeMaterialIcons: true
includeLightGallery: true
noIndex: true
permalink: /my-work-euphire/
---

{% block head %}
{% endblock %}

{% block content %}
  <header class="header-wrap-euphire">
    <div class="grid">
      <div class="header-content gap-32 col-desk-12 col-tab-12 col-mob-4">
        <div class="gap-32 col-desk-12">
          <a href="/" class="link icon-link icon-dark-mode">
            <i class="material-icons">arrow_back</i>
            Back
          </a>
          <h1>Euphire eCommerce User's Tests</h1>
          <div class="gap-8">
            <h2 class="sub-header">UX Research</h2>
            <h2 class="sub-header">2021</h2>
          </div>
        </div>
        <figure class="header-image-wrap col-desk-12 col-tab-12 col-mob-4">
          <img class="header-image" src="/images/euphire/euphire-header-image.webp"
            alt="Browser mockup with the Euphire website and a magnifying glass on the shop button">
        </figure>
      </div>
    </div>
    <hr>
  </header>
  <main class="grid margin-32">
    <div class="content-wrap gap-48 col-desk-8 col-tab-8 col-mob-4">
      <section class="gap-24">
        <h2>What?</h2>
        <div class="gap-16">
          <p>Usability tests conducted for Euphire, a e-learning platform focused on psychology courses.</p>
          <p>The website is currently live:
            <a class="link" href="https://www.euphire.pl" target="_blank">www.euphire.pl</a>
          </p>
        </div>
      </section>
      <section class="gap-24">
        <h2>Why?</h2>
        <div class="gap-16">
          <p>We have defined two goals:</p>
          <ul>
            <li>create a place to collect leads for the product</li>
            <li>create a place to promote the brand</li>
          </ul>
        </div>
      </section>
      <section class="gap-24">
        <h2>What?</h2>
        <div class="gap-16">
          <p>I was hired to research the purchasing process. Together with the owner, we decided to conduct usability
            tests of the online store.</p>
        </div>
      </section>
      <section class="gap-24">
        <h2>How?</h2>
        <div class="gap-16">
          <p>The research plan included testing with 4 people using mobile devices and 2 people using a laptop.
            Smartphones were recorded with an external camera on a tripod. The laptop screen was recorded using
            Zoom.Users, who had never used Euphire before, used their own devices.</p>
          <p>Collected data was analyzed to identify the most common problems.
            I divided the problems we discovered into 3 categories:</p>
          <ul class="icon-list">
            <li class="icon-list-item">
              <span id="icon-list-red" class="oval"></span>Critical: unable to complete the task
            </li>
            <li class="icon-list-item">
              <span id="icon-list-yellow" class="oval"></span>Serious: bad UX practices and significant difficulties
            </li>
            <li class="icon-list-item">
              <span id="icon-list-green" class="oval"></span>Minor: difficulties, but without significant impact on
              using the service and completing the task
            </li>
          </ul>
          <figure class="figure">
            <a class="lightgallery" href="/images/euphire/euphire-image-0.webp">
              <img class="project-img" src="/images/euphire/euphire-image-0.webp" alt="User interview script">
            </a>
            <figure-caption>User interview script</figure-caption>
          </figure>
          <figure class="figure">
            <a class="lightgallery" href="/images/euphire/euphire-image-1.webp">
              <img class="project-img" src="/images/euphire/euphire-image-1.webp"
                alt="Screenshot of the video chat with a respondent">
            </a>
            <figure-caption>Screenshot of the video chat with a respondent</figure-caption>
          </figure>
          <figure class="figure">
            <a class="lightgallery" href="/images/euphire/euphire-image-2.webp">
              <img class="project-img" src="/images/euphire/euphire-image-2.webp"
                alt="Mobile phone in hand with Euphire website visible on the screen">
            </a>
            <figure-caption>Mobile phone in hand with Euphire website visible on the screen</figure-caption>
          </figure>
        </div>
      </section>
      <section class="gap-24">
        <h2>Challange</h2>
        <div class="gap-16">
          <p>At that time, Euphire was a young and fast-growing small company. We had to define critical paths for
            growth and focus our limited resources on key areas for the business.</p>
          <p>We didn't use the help of an external agency. Instead, we recruited the clients ourselves and often visited
            them in their homes.</p>
        </div>
      </section>
      <section class="gap-24">
        <h2>Results</h2>
        <div class="gap-16">
          <p>I analyzed the purchasing process, from entering the landing page to payment and starting the online
            course.</p>
          <p>I identified 12 problems:</p>
          <ul class="icon-list">
            <li class="icon-list-item">
              <span id="icon-list-red" class="oval"></span>2 critical
            </li>
            <li class="icon-list-item">
              <span id="icon-list-yellow" class="oval"></span>4 serious
            </li>
            <li class="icon-list-item">
              <span id="icon-list-green" class="oval"></span>6 minor
            </li>
          </ul>
          <p>Critical and serious problems were fixed in cooperation with developers.</p>
          <figure class="figure">
            <a class="lightgallery" href="/images/euphire/euphire-image-3.webp">
              <img class="project-img" src="/images/euphire/euphire-image-3.webp"
                alt="Spreadsheet with the user tests results">
            </a>
            <figure-caption>Spreadsheet with the user tests results</figure-caption>
          </figure>
          <p>See the results:<a class="link"
              href="https://drive.google.com/file/d/1RALVwax0z2QMK55DOpKWcpU3cuYyntfB/view?usp" target="_blank">Results
              summary
              table in PDF</a>
        </div>
      </section>
      <a href="/#my-work" class="link icon-link">
        <i class="material-icons">arrow_forward</i>
        See more of my work
      </a>
    </div>
  </main>
{% endblock %}

{% block scripts %}
{% endblock %}
