---
layout: base.njk
title: BeatStars
includeMaterialIcons: true
includeLightGallery: true
noIndex: true
permalink: /my-work-beatstars/
---

{% block head %}
  <link rel="preload" href="/images/beatstars/beatstars-header-image-1920px.webp" as="image" media="(min-width: 620px)">
  <link rel="preload" href="/images/beatstars/beatstars-header-image-1200px.webp" as="image" media="(max-width: 619px)">
{% endblock %}
{% block content %}
  <header class="header-wrap-beatstars">
    <div class="grid">
      <div class="header-content gap-32 col-desk-12 col-tab-12 col-mob-4">
        <div class="gap-32 col-desk-12">
          <a href="/" class="link icon-link icon-dark-mode">
            <i class="material-icons">arrow_back</i>
            Back
          </a>
          <h1>BeatStars – My Library</h1>
          <div class="gap-8">
            <h2 class="sub-header">Product Design</h2>
            <h2 class="sub-header">2023</h2>
          </div>
        </div>
        <figure>
          <picture class="header-image-wrap col-desk-12 col-tab-12 col-mob-4">
            <source media="(min-width: 620px)" srcset="/images/beatstars/beatstars-header-image-1920px.webp">
            <img src="/images/beatstars/beatstars-header-image-1200px.webp" fetchpriority="high" width="1920" height="906" alt="My Library creator filters on desktop">
          </picture>
        </figure>
      </div>
    </div>
    <hr>
  </header>
  <main class="grid margin-32">
    <div class="content-wrap gap-48 col-desk-8 col-tab-8 col-mob-4">
      <section class="gap-24">
        <h2>Background</h2>
        <div class="gap-16">
          <h3>A few words about BeatStars</h3>
          <p>
            BeatStars is a digital marketplace for music producers and creators, designed for selling and purchasing beats. The
            platform offers the opportunity to reach a global community of artists seeking unique sounds for their creative
            projects.
          </p>
        </div>
        <div class="gap-16">
          <h3>Problem</h3>
          <p>
            <strong>Problem statement:</strong>
            BeatStars marketplace users face problems
            <strong>with downloading and
                                        accessing purchased files</strong>, generating
            <strong>additional tasks for customer support</strong>
            and
                                  making the shopping experience worse.
          </p>
          <p>
            In the current flow, users finished check-out at the order receipt stage. This is a common pattern in e-commerce.
            However, in the BeatStars context, this led to more problems in the whole user journey.
          </p>
        </div>
      </section>
      <section class="gap-24">
        <h2>Solution</h2>
        <div class="gap-16">
          <p>
            My Library is a tab where users can access all their purchased products: not only beats but also loops, samples, and
            services provided by producers.
          </p>
          <p>
            This tab became the last step in check-out.
            <strong>My Library is like a delivery guy, bringing the order to
                                        your doorstep</strong>.
          </p>
          <p>
            We designed this tab with both user needs and
            <strong>business goals in mind</strong>, to serve as a base
                                      for further
            <strong>user activation</strong>. As the product keeps developing, all post-purchase actions
                                      will be focused here.
          </p>
          <p>
            We established KPIs and metrics to facilitate the assessment and continued improving this function, focusing on
            the
            <strong>using beats</strong>
            at its core.
          </p>
          <figure class="figure">
            <a class="lightgallery" href="/images/beatstars/beatstars-image-main-1920px.webp">
              <img class="project-img" src="/images/beatstars/beatstars-image-main-1200px.webp" 
                alt="My Library main page mobile and desktop view">
            </a>
            <figure-caption>My Library main page mobile and desktop view</figure-caption>
          </figure>
          <figure class="figure">
            <a class="lightgallery" href="/images/beatstars/beatstars-image-mobile-1920px.webp">
              <img class="project-img" src="/images/beatstars/beatstars-image-mobile-1200px.webp" 
                alt="Mobile version UI details">
            </a>
            <figure-caption>Mobile version UI details</figure-caption>
          </figure>
        </div>
      </section>
      <section class="gap-24">
        <h2>Design</h2>
        <div class="gap-16">
            <h3>Prototype</h3>
            <p>
              Test the
              <strong>My Library Demo</strong>
              prototype in Figma:
            </p>
            <div class="iframe-container iframe-1-1-aspect-ratio">
              <iframe
                class="iframe-content"
                src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FqHs7XIrwm42VQPOt641ZTA%2FMy-Library-Prototype-(PORTFOLIO)%3Fpage-id%3D0%253A1%26type%3Ddesign%26node-id%3D1-9840%26viewport%3D1379%252C577%252C0.08%26t%3DXOuW0MfCpVlCqVCL-1%26scaling%3Dscale-down%26starting-point-node-id%3D1%253A9840%26mode%3Ddesign"
                allowfullscreen
                loading="lazy"></iframe>
            </div>
            <a
              class="link"
              href="https://www.figma.com/proto/qHs7XIrwm42VQPOt641ZTA/My-Library-Prototype-(PORTFOLIO)?page-id=0%3A1&type=design&node-id=1-9840&viewport=1379%2C577%2C0.08&t=AS0LxUv099C23x6I-8&scaling=scale-down&starting-point-node-id=1%3A9840&hide-ui=1"
              target="_blank">Doesn't work? Open in Figma</a>
          </div>
          <div class="gap-16">
            <h3>Outcome</h3>
            <ul>
              <li>
                Mock-ups and specification hand-off, focusing on the WEB version,
                <strong>both mobile and
                                                  desktop</strong>. The solution in
                                                the mobile app will be developed after the MVP phase.
              </li>
              <li>In the development process, we
                <strong>identified an MVP</strong>, together with defining
                <strong>metrics and KPIs</strong>. This way,
                                                we’re better equipped to make informed decisions during future iterations.
              </li>
              <li>
                Internal workshops with stakeholders and user testing sessions. Combining these two methods helped us find
                <strong>the right balance between user needs, business objectives, and software development
                  feasibility</strong>.
              </li>
              <li>
                Quick fix solution, ready to develop soon, and a lo-fi concept to quickly iterate on ideas.
              </li>
            </ul>
            <figure class="figure">
              <a class="lightgallery" href="/images/beatstars/beatstars-image-mobile-flat-1920px.webp">
                <img class="project-img" src="/images/beatstars/beatstars-image-mobile-flat-1200px.webp" 
                  alt="Mobile version screens">
              </a>
              <figure-caption>Mobile version screens</figure-caption>
            </figure>
            <figure class="figure">
              <a class="lightgallery" href="/images/beatstars/beatstars-image-favourites-1920px.webp">
                <img class="project-img" src="/images/beatstars/beatstars-image-favourites-1920px.webp" 
                  alt="Favorites tab on desktop">
              </a>
              <figure-caption>Favorites tab on desktop</figure-caption>
            </figure>
          </div>
        </section>
        <section class="gap-24">
          <h2>My role</h2>
          <div class="gap-16">
            <p>
              I figured a kick-off workshop would be the best approach, as we needed to access knowledge from different departments in
              the company.
            </p>
            <p>
              I was particularly excited to invite people from the
              <strong>Music Department</strong>, who can bring unique
                                          knowledge about
                                          user needs and help us
              <strong>overcome our product team biases</strong>.
            </p>
            <p>
              During the process, I've created a
              <strong>quick fix</strong>
              to ease the
              <strong>main customer pain
                                            point</strong>
              on the spot, as well as a
                                      more complete solution to develop in the future.
            </p>
            <p>
              My role involved taking full responsibility for the project:
            </p>
            <ul>
              <li>
                Design the design process
              </li>
              <li>
                Facilitate workshops
              </li>
              <li>
                Design the My Library concept and final solution
              </li>
              <li>
                Test the solution
              </li>
              <li>
                Propose product design metrics
              </li>
              <li>
                In collaboration with the Product Owner, determine the business value
              </li>
              <li>
                In cooperation with developers, identify an MVP for the project
              </li>
            </ul>
          </div>
        </section>
        <section class="gap-24">
          <h2>Process</h2>
          <div class="gap-16">
            <h3>1. Problem statement</h3>
            <p>
              We started with the following problem statement: BeatStars marketplace users encountered problems with downloading and
              accessing purchased files, generating additional tasks for customer service and worsening the shopping experience.
            </p>
            <p>
              Initially, I focused on auditing the path and understanding what improvements we could apply with the Product Owner and
              software engineers.
            </p>
            <p>
              One of the main problems was that at the end of the check-out process, the users saw an overwhelmingly long order
              receipt. The option to download purchased files was hidden at the very end.
            </p>
            <p>
              I conducted a series of workshops to gather the knowledge we have so far, list actions we can take. At the end of this
              stage, we already had a solution to address the problem.</p>
            <figure class="figure">
              <a class="lightgallery" href="/images/beatstars/beatstars-image-miro-1920px.webp">
                <img class="project-img" src="/images/beatstars/beatstars-image-miro-1920px.webp" alt="Miro workshop board screenshot">
              </a>
              <figure-caption>Miro workshop board screenshot</figure-caption>
            </figure>
          </div>
          <div class="gap-16">
            <h3>2. Aha! moment</h3>
            <p>
              We came to the conclusion that the quick fix I proposed could already fix the problem relatively easily, making the
              purchased files visible. However, this solution did not meet all our objectives because:
            </p>
            <ul>
              <li>
                The receipt at the end of the check-out would still be far from ideal in the context of BeatStars users
              </li>
              <li>
                Returning to files after some time would still be difficult and would require the user to go through the
                order
              </li>
              <li>
                We would have fixed the main problem we started with, but we still wouldn’t have added business value to the
                product
              </li>
            </ul>
            <p>
              With all this in mind, we decided to build My Library as a place to:
            </p>
            <ul>
              <li>
                <strong>Centralize main actions</strong>
                – With this solution, it will no longer be difficult to find files. From now on, we’ll be able to redirect users
                directly to files in the purchasing process
              </li>
              <li>
                <strong>Address business objectives</strong>
                – Increasing user activation through actions available in My Library, e.g. searching for similar songs by tags
                (upselling), adding lyrics (correlating with higher user LTV), and more
              </li>
              <li>
                <strong>Solve more than one user need</strong>
                – e.g. downloading files in bulk, making it easier to find files from many months ago (a need we discovered during
                testing), easy access to metadata, and more
              </li>
            </ul>
          </div>
          <div class="gap-16">
            <h3>3. Confirming assumptions</h3>
            <p>
              To confirm our
              <strong>assumptions related to users and business</strong>, I decided to use a
              <strong>lean
                                            approach</strong>. I came out with a project concept, using the data available to me at that time.
            </p>
            <p>
              Then I conducted
              <strong>prototype concept tests</strong>
              with users (BeatStars employed artists who made the perfect match for this round of testing). During the interviews, I
              validated how the proposed solutions resonated with them, and what was missing to make this proposal complete.
            </p>
            <p>
              This series of tests allowed me to:
            </p>
            <ul>
              <li>
                Debunk some of my assumptions
              </li>
              <li>
                Identify strongest bets
              </li>
              <li>
                Find even more opportunities
              </li>
            </ul>
            <figure class="figure">
              <a class="lightgallery" href="/images/beatstars/beatstars-image-concept-1920px.webp">
                <img
                  class="project-img"
                  src="/images/beatstars/beatstars-image-concept-1920px.webp"
                  alt="Lo-fi concept design screenshot in Figma">
              </a>
              <figure-caption>Lo-fi concept design screenshot in Figma</figure-caption>
            </figure>
          </div>
          <div class="gap-16">
            <h3>4. Specification and metrics</h3>
            <p>
              Together with the Product Owner and engineers, we worked to identify which of the proposed solutions provided the most
              value for the development time. These solutions were included in the MVP, and additional solutions were added to the
              backlog.
            </p>
            <p>
              We also defined key metrics for the project:
            </p>
            <ol>
              <li>
                <strong>Product Adoption Rate:</strong>
                percentage of active users who have started using the new
                                            solution.
              </li>
              <li>
                <strong>Engagement rate:</strong>
                the degree of engagement as measured by the number of interactions e.g. downloading a file, adding lyrics,
                etc.
              </li>
              <li>
                <strong>Churn and retention:</strong>
                we wanted to find out how the new solution affects whether users want to leave or stay with
                us.
              </li>
            </ol>
          </div>
          <div class="gap-16">
            <h3>5. Mock-ups and more specification</h3>
            <p>
              Having all the necessary information, I prepared high-fidelity mockups, based on our design system (some components were
              created by me from scratch).
            </p>
            <p>
              Together with the product owner, we wrote the specification for the MVP and the next possible stages.
            </p>
            <figure class="figure">
              <a class="lightgallery" href="/images/beatstars/beatstars-image-overview-1920px.webp">
                <img class="project-img" src="/images/beatstars/beatstars-image-overview-1920px.webp" alt="MVP mockups in figma">
              </a>
              <figure-caption>MVP mockups in figma</figure-caption>
            </figure>
            <p>
              To help stakeholders understand the design, I prepared
              <strong>user flows on the mock-ups</strong>, to
                                          reflect different
              <strong>usage scenarios</strong>.
            </p>
            <figure class="figure">
              <a class="lightgallery" href="/images/beatstars/beatstars-image-flow-1920px.webp">
                <img class="project-img" src="/images/beatstars/beatstars-image-flow-1920px.webp" 
                  alt="User flows">
              </a>
              <figure-caption>User flows</figure-caption>
            </figure>
            <figure class="figure">
              <a class="lightgallery" href="/images/beatstars/beatstars-image-overview-zoom-1920px.webp">
                <img class="project-img" src="/images/beatstars/beatstars-image-overview-zoom-1920px.webp" 
                  alt="User flows in Figma">
              </a>
              <figure-caption>User flows in Figma</figure-caption>
            </figure>
          </div>
          <div class="gap-16">
            <h3>6. Development</h3>
            <p>
              At the time of writing this project (January 30, 2024), the solution is in development. I’ll update the project as soon
              as we analyze usage statistics and first results.
            </p>
          </section>
          <a href="/#my-work" class="link icon-link">
            <i class="material-icons">arrow_forward</i>
            See more of my work
          </a>
        </div>
      </main>
    {% endblock %}
    {% block scripts %}
    {% endblock %}