---
layout: base.njk
title: DataFeedWatch
includeMaterialIcons: true
includeLightGallery: true
noIndex: true
permalink: /my-work-dfw/
---

{% block head %}
{% endblock %}

{% block content %}
  <header class="header-wrap-dfw">
    <div class="grid">
      <div class="header-content gap-32 col-desk-12 col-tab-12 col-mob-4">
        <div class="gap-32 col-desk-12">
          <a href="/" class="link icon-link icon-dark-mode">
            <i class="material-icons">arrow_back</i>
            Back
          </a>
          <h1>DataFeedWatch Design System</h1>
          <div class="gap-8">
            <h2 class="sub-header">UX Designer | UX Leader</h2>
            <h2 class="sub-header">2019</h2>
          </div>
        </div>
        <figure class="header-image-wrap col-desk-12 col-tab-12 col-mob-4">
          <img class="header-image" src="/images/dfw/dfw-header-image.webp" alt="Laptop mockup with user interface componenets on screen">
        </figure>
      </div>
    </div>
    <hr>
  </header>
  <main class="grid margin-32">
    <div class="content-wrap gap-48 col-desk-8 col-tab-8 col-mob-4">
      <section class="gap-24">
        <h2>What?</h2>
        <div class="gap-16">
          <p>When I joined DataDeedWatch in 2019, I started working on creating a comprehensive Design System, a set of
            common practices and reusable elements. Even though I no longer work for this company, this project is still
            ongoing.</p>
        </div>
      </section>
      <section class="gap-24">
        <h2>Why?</h2>
        <div class="gap-16">
          <p>DataFeedWatch systems are highly complex web applications, with plenty of technical dependencies. The need
            for the Design System was discovered during our cooperation with developers. Shared components bridged the
            gap between design assumptions and the feature's final appearance.</p>
          <p>Having a Design System also allows for more efficient implementation, as well as creating solutions for
            rapid tests using ready-made components.</p>
        </div>
      </section>
      <section class="gap-24">
        <h2>How</h2>
        <div class="gap-16">
          <p>Our Design System was based on the Atomic Design framework. To create it, we used Sketch and Figma.</p>
          <p>At first, I created the Design System as a solo designer. For the first few months, I reproduced existing
            system components (building blocks) in design tools so that they could be used to build new solutions and
            redesign old features faster.</p>
          <p>As the team grew, our needs evolved. The Design System has expanded to include illustrations and guides. My
            role has become more strategic and leadership-focused.</p>
          <p>At this stage, I established business and usability goals and divided the Design System into parts:</p>
          <ul>
            <li>Style guides</li>
            <li>Components</li>
            <li>Design System unification: specification for developers transferring the old UI to the Design System
            </li>
            <li>Illustrations</li>
          </ul>
          <figure class="figure">
            <a class="lightgallery" href="/images/dfw/dfw-image-0.webp">
              <img class="project-img" src="/images/dfw/dfw-image-0.webp"
                alt="Tablet mockup with Centrum Masazu Betula homepage">
            </a>
            <figure-caption>Tablet mockup with Centrum Masazu Betula homepage</figure-caption>
          </figure>
        </div>
      </section>
      <section class="gap-24">
        <h2>Challange</h2>
        <div class="gap-16">
          <p>By the time I joined DataFeedWatch, the system had already been in development for more than 6 years. Our
            Design System had to address significant technical debt and plenty of existing design inconsistencies.</p>
          <p>Another challenge was to find a common ground with front-end developers. The tech team had strong habits in
            place. It took months to develop new ways of working that served product, design, and software development
            teams.</p>
      </section>
      <section class="gap-24">
        <h2>Results</h2>
        <div class="gap-16">
          <ul>
            <li>Almost 300 components and over 100 additional variants</li>
            <li>Style guides: typography, color palette, design guidelines for new projects</li>
            <li>Design System covers dozens of subpages and landing pages</li>
            <li>4 DataFeedWatch products and dozens of functions</li>
            <li>A shift in the Design System role: from a reactive set of rules to an actionable tool to influence the
              current shape and further development of the company</li>
            <li>3 designers and 1 researcher involved in creating the Design System</li>
          </ul>
          <figure class="figure">
            <a class="lightgallery" href="/images/dfw/dfw-image-1.webp">
              <img class="project-img" src="/images/dfw/dfw-image-1.webp" alt="Figma componenets overview">
            </a>
            <figure-caption>Figma componenets overview</figure-caption>
          </figure>
          <figure class="figure">
            <a class="lightgallery" href="/images/dfw/dfw-image-2.webp">
              <img class="project-img" src="/images/dfw/dfw-image-2.webp"
                alt="Figma componenets overview with focus on molecules">
            </a>
            <figure-caption>Figma componenets overview with focus on molecules</figure-caption>
          </figure>
        </div>
        <p>Visit DataFeedWatch Website<a class="link" href="https://www.datafeedwatch.com"
            target="_blank">www.datafeedwatch.com</a></p>
      </section>
      <a href="/#my-work" class="link icon-link">
        <i class="material-icons">arrow_forward</i>
        See more of my work
      </a>
    </div>
  </main>
{% endblock %}

{% block scripts %}
{% endblock %}
